nav{
  background-color: white;
}

.custom-dropdown::after {
  display: none;
}

.row.position-relative {
  position: relative;
}

.top-centered-text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-15%);
  z-index: 10;
}

.bottom-left-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.row.position-relative {
  position: relative;
  overflow: hidden;
}

.row.position-relative::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 5;
}
